body {
  color: lime;
  margin-top: 5vw;
  text-align: left;
  font-family: "arial";
  font-size: 1.3em;
  background-color: rgb(30, 30, 30);
  margin: 0px;
}

main {
  text-align: center;
  border: 6px solid lime;
  background-color: rgb(22, 22, 22);
  padding: 3vw;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  margin-bottom: 5%;
}

#diploma {
  width: 100%;
}

main #baylee img {
  display: inline;
  width: 49%;
}

h2 {
  margin-top: 60px;
}

/* Start Dropdown*/
.dropdown {
  display: inline-block;
  border: 4px solid lime;
  padding: 10px 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #000000;
  border: 1px solid lime;
  min-width: 290px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End Dropdown */

/* Start Button */
main a:link,
main a:visited {
  background-color: rgb(25, 25, 25);
  color: white;
  border: 4px solid lime;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

main a:hover,
main a:active {
  background-color: green;
  color: white;
}
/* End Button */

/* Start Table */

table {
  width: 100%;
}

table,
th,
td {
  border: 2px solid lime;
  border-collapse: collapse;
}

#game {
  width: 25%;
}

#time {
  width: 15%;
}

#story {
  width: 60%;
}

/* End Table*/

/* Start Nav-Bar*/
nav {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 50px;
  border-right: 0.5px solid white;
  text-decoration: none;
}

nav a:hover {
  background-color: lightslategray;
}

nav .active {
  background-color: #04aa6d;
}

nav .active:hover {
  background-color: #609e87;
}

#logo {
  width: 20px;
  height: 20px;
}

/* End Nav-Bar */

/* Start Form*/

form {
  border: 6px solid lime;
  background-color: rgb(22, 22, 22);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  margin: 10px;
  width: 50%;
  height: 50px;
  box-sizing: border-box;
}

label {
  display: flex;
  width: 20vw;
  padding-left: 10%;
}

.formfield {
  display: flex;
  flex-direction: row;
}

button {
  margin-left: 10%;
  width: 80%;
}

#reset {
  margin-right: 10%;
}

form h2 {
  text-align: center;
}

form label p {
  color: red;
}
/* End Form */

/* Start Mobile */
@media (max-width: 590px) {
  body {
    font-size: 0.9em;
  }

  nav {
    flex-direction: column;
    font-size: 1.3em;
  }

  nav a {
    padding: 10px;
    border-right: 0px;
  }

  main {
    margin: 5%;
    margin-top: 250px;
  }

  main section img {
    display: flex;
    width: 100%;
  }

  .dropdown-content {
    min-width: 145px;
  }

  form {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* End Mobile */
